accmon==1.1
antlr4-python3-runtime==4.7
appdirs==1.4.3
beautifulsoup4==4.6.0
bleach==1.5.0
bs4==0.0.1
certifi==2017.4.17
chardet==3.0.3
configparser==3.5.0
crypto==1.4.1
Django==1.10.7
django-bootstrap3==8.2.3
django-classy-tags==0.8.0
django-mptt==0.8.7
django-nyt==1.0b3
django-sekizai==0.10.0
django-simplemde==0.1.0
django-system-monitor==0.5
EasyProcess==0.2.3
fodtlmon==1.1
html5lib==0.9999999
Markdown==2.6.8
multi-key-dict==2.0.3
mysql-connector==2.1.4
Naked==0.1.31
olefile==0.44
packaging==16.8
pbr==3.0.1
Pillow==4.1.1
protobuf==3.3.0
psutil==1.2.1
py4j==0.10.4
pycrypto==2.6.1
pycurl==7.43.0
PyMySQL==0.7.11
pyparsing==2.2.0
pyserial==3.3
pytesseract==0.1.6
python-gtmetrix==0.2.3
python-jenkins==0.4.14
PyVirtualDisplay==0.2.1
PyYAML==3.12
requests==2.14.2
robotframework==3.0.2
robotframework-requests==0.4.7
selenium==3.4.2
shellescape==3.4.1
six==1.10.0
sorl-thumbnail==12.3
uWSGI==2.0.15
wiki==0.2.4
